<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행사</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Welcome!</h1>
            <nav>
                <ul>
                    <li><a href="#">홈</a></li>
                    <li><a href="#">여행지</a></li>
                    <li><a href="#">투어</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">문의하기</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="hero">
            <h2>여행을 더 쉽게</h2>
            <p>완벽한 휴가 패키지를 찾아보세요.</p>
            <input type="text" placeholder="검색어 입력">
          </div>
        <div class="content">
            <h3>추천 여행지</h3>
            <div class="destinations">
              <div class="destination">
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDAzMDFfMTQ2%2FMDAxNzA5Mjc3Njk1ODA0.pC2Nd6ZmBAKD-3H28iS2e3ezCS6pWkVrzELoU91oV-Qg.qAqEzBHBZdAZUjJeUBCp53QH8I9S87835PdLwu67928g.PNG%2F1.png&type=sc960_832" alt="파리">
                <h4>파리</h4>
            </div>
            <div class="destination">
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDAzMzBfMTMy%2FMDAxNzExNzY2OTc4NjI4.kNpM3oZ-fphFU3dDCckvpSwYSeCUKJCqGzWgfxYylmIg.Gy-6ljGgkEllyXInbhmHWyXtwT4rXfyAiiUYyNJYYKkg.JPEG%2Fleonardo-1127247-mlewh-overwater-escapes-7683-hor-clsc_O-802425.jpg&type=sc960_832" alt="몰디브">
                <h4>몰디브</h4>
            </div>
            <div class="destination">
                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyNDAxMTRfMjk3%2FMDAxNzA1MjM5Mzc2OTk1.qPLE_QxShLRY2TQN3ZOMeWlQbZof_v31dvw2TyB2INYg.qohDlm84drLfxckai8EDIINXG9OqdRch7ArwAxiLxHAg.JPEG.rhksgn%2FIMG_6215.JPG&type=a340" alt="도쿄">
                <h4>도쿄</h4>
            </div>

            </div>
        </div>
    </main>

</body>
</html>